//basic color
$black90:#191919;
$black80:#333333;
$black70:#4d4d4d;
$black60:#666666;
$gray50:#808080;
$gray40:#999999;
$gray30:#b3b3b3;
$gray20:#cccccc;
$gray10:#e6e6e6;



//primary color//
$primaryColor:#58A9C3;
$primary1:#82CAE1;



//point color//
$pointColor :#FF9A84;
